/************************************************************************
Layout in order, form elements, other elements, classes and ids
Authors: Silje U.
*************************************************************************/

/* Layout in order */

html, body, section {
	margin: 0;
	padding: 0;
	/*font-size:0.9em;*/
}

body {
	color: #fff;
	background-color: #000;
	font-family: Lato, Verdana, sans-serif;
}

nav, footer {
	background-color: rgb(214, 196, 196);
	font-size: 0.9rem;
}

/*main {

}*/

aside { /* Brukes bare ved presetasjoneditor */
	/*border-right:1px solid rgb(19, 17, 17);*/
	color:  rgb(214, 196, 196);
	background-color: #000;
	font-size: 0.8rem;
}

.blueDiv {
	width: 100%;
	background-color: darkblue;
	color: red;
}

.blackDiv {
	width: 100%;
	background-color: #000;
	color: red;
}

.textContainer {
	padding: 10px; 
	max-width: 32em; /* for å angi en leselig linjelengde */
	margin: 0 auto;
}


/* Form elements  */

button {
	box-shadow: none;
	color: rgb(214, 196, 196); /* fin gråfarge: #ccc;*/
	background-color: #444;
	padding: 0.2em 1.2em;
	margin: 0.2em;
	font-size:0.8em;
	border-radius: 4px;
	border-style: none;
}


button:hover {
	background-color: #888;
	color: #fff;
	margin: 0.2em;
	cursor: pointer;
}

button:active {
	color: #fff;
	background-color: rgb(227, 17, 71);
	margin: 0.2em;
}

fieldset {
	border: none;
}	
	
	input, select {
	width: auto;
	margin: 0.4em;
	font-size:0.8em;
}

	
	/* Other */

h1 {
	text-align: center;
	padding: 0.1rem;
	margin: 0;
}

hr {
	border: 0;
	border-top: 1px dotted #fff;
}


menuitem a {
	color: red; 
	padding: 0 0.2em;
	text-decoration: none;
}

menuitem a:visited {
	color: maroon;
}

.noLinkStyle {
	text-decoration: none;
	color: black;
}

p {
	margin: 0.6em 2px;
}

li {
	padding: 0.2rem;
}



/* ***************************************************************************  */
/* IDs and classes
/* ***************************************************************************  */

#divContainer {
	margin-top: 10px;
	padding-top: 10px;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

.content {
	position: absolute;  
	border-style: solid;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logo {
	color: rgb(227, 17, 71);
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

.right {
	float: right;
	padding: 0 2px;
}

ul.hidden {
	padding-left: 0;
}

ul.hidden li {
	list-style: none;
}

#editGrid {
	position: relative;
	background: white;
	border: 0.2em solid gray;
	/* original size width: 640px; height: 360px;*/
	/*width: 355px; height: 200px;*/
	width: 100%;
	height: 200px;
	color: black;
	margin: 0 auto;
}

#notes {
	background: gray;
	margin: 0 auto;
	width: 100%;
}

#notes h4 {
	color:  rgb(214, 196, 196);
	margin: 0.3em 0em;
	text-align: center;
	font-size: 0.9rem;
}

textarea {
	border: none;
	width: 100%;
	height: 150px;
	background: rgb(214, 196, 196);
	font-size: 0.8rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#slideView {
	padding: 0.2em 2em;
	font-size: 0.7em;
}

/*  fjerner...bruker cssGrid istedet
@media only screen and (min-width: 900px) {
	aside {
		width: 22em;
	}

	#editGrid {
		left: 23em;
		width: 800px;
		height: 450px;
	}

	#notes {
		top: calc(450px + 2.6em);
		left: 23em;
	}

	textarea {
		width: 802px;
		columns: 2 1em;
		box-sizing: border-box;
		padding: 0.6em 4em;
		font-size: 1.6em;
	}

	#slideView {
		position: absolute;
		right: 10vh;
		padding: 0.2em 2em;
		margin: 0 auto;
		font-size: 1.2em;
	}
} 
*/



/* Holy Grail Layout with CSS Grid */
		/* borrowed code */
		
/* Define grid areas */
.hg-header { grid-area: header; }
.hg-footer { grid-area: footer; }
/*.hg-editgrid { grid-area: editgrid; }*/
.hg-main { grid-area: main; }
.hg-left { grid-area: sidebarLeft; }
.hg-right { grid-area: sidebarRight; }

.hg {
	display: grid;
	grid-template-areas: "header header header"
						/*"sidebarLeft editgrid sidebarRight"*/
						"sidebarLeft main sidebarRight"
						"footer footer footer";
								
	grid-template-columns: 1fr 60% 1fr; 
	
	grid-template-rows: 2rem
						1fr
						2rem;
								
	min-height: 100vh /* ellers trekker footeren seg opp */
}

/* til skjermer smalere enn 600px */

@media screen and (max-width: 600px) {
	.hg {
		grid-template-areas: "header"
							"sidebarLeft"
							/*"editgrid"*/
							"main"
							"sidebarRight"
							"footer";

		grid-template-columns: 100%;
		grid-template-rows: 4rem
									50px 
									1fr
									50px 
									30px;
	}
}

/* mer tilpasning: custom css styles */

.hg-header, .hg-footer {
	display: flex;
	justify-content: center;  /*? aligner i miten av element*/
	align-items: center;    /*???? aligner i høyden*/
	text-align: center;  /* så ingen virkning av med justify-content*/
}

.hg-header,
.hg-left,
.hg-right,
.hg-main,
.hg-editgrid {
	padding: 0.8rem;
}

.hg-right {
	text-align: center;
}