/************************************************************************
Layout in order, form elements, other elements, classes and ids
Authors: Silje U.
*************************************************************************/

/* Layout in order */

html {
	font-size: 62.5%;   /* gjør at man kan oppgi rem som 1/10 pt-størrelse */
}

html, body, section, main {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	background-color: #000;
	font-family: 'Lato', 'Verdana', sans-serif;
}

nav, footer {
	background-color: rgb(214, 196, 196);
	font-size: 1.2rem;
}

main {
		font-size: 1.2rem;
}

aside { /* Brukes bare ved presetasjoneditor */
	/*border-right:1px solid rgb(19, 17, 17);*/
	color:  rgb(214, 196, 196);
	background-color: #000;
	margin: 0.5rem 0.3rem;
}


.blueDiv {
	width: 100%;
	background-color: darkblue;
	color: red;
}

.blackDiv {
	width: 100%;
	background-color: #000;
	color: red;
}

.textContainer {
	padding: 10px; 
	max-width: 32em; /* for å angi en leselig linjelengde */
	margin: 0 auto;
}


/* Form elements  */

button {
	box-shadow: none;
	color: rgb(214, 196, 196); /* fin gråfarge: #ccc;*/
	background-color: #444;
	padding: 0.3rem 0.7rem;
	margin: 0.2rem 0.07rem;
	font-size:0.9rem;
	border-radius: 4px;
	border-style: none;
}


button:hover {
	background-color: #888;
	color: #fff;
	margin: 0.2em;
	cursor: pointer;
}

button:active {
	color: #fff;
	background-color: rgb(227, 17, 71);
	margin: 0.2em;
}

fieldset {
	border: none;
}	
	
	input, select {
	width: auto;
	margin: 0.4em;
	font-size:0.8em;
}

	
	/* Other */

header {
	padding-right: 1.5rem;
}

h1 {
	text-align: center;
	padding: 0.1rem;
	margin: 0;
}

hr {
	border: 0;
	border-top: 1px dotted #fff;
}


menuitem a {
	color: red; 
	padding: 0 0.3em;
	text-decoration: none;
}

menuitem a:visited {
	color: maroon;
}

.noLinkStyle {
	text-decoration: none;
	color: black;
}

p {
	margin: 0.6em 2px;
}

li {
	padding: 0.2rem;
}

ul {
	margin: 0.2rem 0;
}


/* ***************************************************************************  */
/* IDs and classes
/* ***************************************************************************  */

.centered {
	text-align: center;
}

#currentPageTxt {
	font-size: 1rem;
}

.logo {
	color: rgb(227, 17, 71);
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

ul.hidden {
	padding-left: 0;
	list-style: none;
}

#ratioContainer1 {
	width:100%;
	background: yellow;
}

#ratioContainer2 {
	width:100%;
	padding-bottom: 56.25%;  /* 16:9 */
	background: orange;
	position: relative;
}

#editGrid { /* original size width: 640px; height: 360px;*/
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: white;
	color: black;
	border: 0.1em solid gray;
	margin: 0 auto;
	box-sizing: border-box;
}

#notesSection {  /* var nesten finere uten */
	background: gray;
	margin: 0 auto;
	width: 100%;
	height: 16rem;
}

#notesSection h4 {
	color:  rgb(214, 196, 196);
	margin: 0.3em 0em;
	text-align: center;
}

textarea {
	border: none;
	height: 150px;
	width: 100%;
	padding: 0.2rem 1rem;
	background: rgb(214, 196, 196);
	font-size: 1.0rem;
	font-family: Verdana, Tahoma, sans-serif;
	box-sizing: border-box;
}

#slideView {
	padding: 0.2em 1em;
	font-size: 0.7em;
	box-sizing: border-box;
}


/* ******************************************* editor.css *******************/

#textToolBar {
	position: absolute;
	display: none;
	width: 445px;
	height: 0px;
}

#textToolBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEE;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#textToolBar ul li {
	padding: 0px;
	margin-top: 3px;
	float: left;
}

#textToolBar ul li * {
	display: inline-block;
	color: black;
	text-align: center;
	text-decoration: none;
}

#textToolBar ul li select, ul li input {
	background-color: #EEE;
	width: 40px;
	padding: 5.5px 0px;
}

#textToolBar ul li img {
	background-color: #EEE;
	height: 18px;
	padding: 6px 6px;
}

#textToolBar ul li span {
	padding: 6px 10px;
}

#textToolBar ul li *:hover {
	cursor: pointer;
	background-color: #888;
}

#colorPicker, #shadowPicker {
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 5px;
	background-color: lightgray;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#colorPicker [name = hue] {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo,violet);
}

#colorPicker [name = light] {
	background: linear-gradient(to right, black, white);
}

#colorPicker [name = alpha] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGUlEQVQYV2NkQID/ICYjNgGwDEwSpAJFAACKfwQDF+r+wwAAAABJRU5ErkJggg==), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}

#colorPicker div, #shadowPicker div {
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#colorPicker input, #shadowPicker input, #shadowPicker button {
	position: relative;
	width: 100%;
	top: 1px;
	right: 2px;
}

.content {
	position: absolute;
	overflow: hidden;
	text-align: center;
	word-wrap: break-word;
	padding: 10px;
	border: thin solid transparent;
	user-select: none;
	cursor: pointer;
}

/*
.content { gammel
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/


/* Holy Grail Layout with CSS Grid */
		/* borrowed code */
		
/* Define grid areas */
.hg-header { grid-area: header; }
.hg-footer { grid-area: footer; }
/*.hg-editgrid { grid-area: editgrid; }*/
.hg-main { grid-area: main; }
.hg-left { grid-area: sidebarLeft; }
.hg-right { grid-area: sidebarRight; }

.hg {
	display: grid;
	grid-template-areas: "header header header"
						/*"sidebarLeft editgrid sidebarRight"*/
						"sidebarLeft main sidebarRight"
						"footer footer footer";
								
	grid-template-columns: 1fr 60% 1fr; 
	
	grid-template-rows: 2.2rem
						1fr
						2.2rem;
								
	min-height: 100vh /* ellers trekker footeren seg opp */
}


/* mer tilpasning: custom css styles */

.hg-header, .hg-footer {
	display: flex;
	justify-content: center;  /*? aligner i miten av element*/
	align-items: center;    /*???? aligner i høyden*/
	text-align: center;  /* så ingen virkning av med justify-content*/
}

.hg-header,
.hg-left,
.hg-right,
.hg-main,
.hg-editgrid {
	padding: 0rem;
	box-sizing: border-box;
}

aside.hg-left {
	margin: 0.5rem 1.3rem;
	text-align: center;
}

.hg-right {
	text-align: center;
}

/* til skjermer smalere enn 600px */

@media screen and (max-width: 600px) {
	.hg {
		grid-template-areas: "header"
							"sidebarLeft"
							"main"
							"sidebarRight"
							"footer";

		grid-template-columns: 100%;
		grid-template-rows: 2rem
							14rem 
							5fr
							1fr 
							2rem;
	}

	.flexContainer {
		display: flex;
		flex-wrap: wrap;
		flex-flow: row wrap;
		text-align: left;
		justify-content: center;  /*? aligner i miten av element*/
		padding: 0;
		margin: 0;
	}

	
	.flexBox {
		padding: 0;
		margin: 0;
		flex: 1;
	}
	
	.flexBox2 {
		padding: 0;
		margin: 0;
		flex: 1.6;
	}

	hr { display: none; }
	
	aside h1 {
		text-align: left;
		margin-top: 0.1rem;
		font-size: 1.0rem;
		display: none /* vet ikke omtrengs */
	}
	
	aside.hg-left {
		margin: 0;
		padding: 0.6rem 0.5rem;
}

}