/************************************************************************
Layout-elementer først, deretter resterende elementer, til sist klasser og id-er alfabetisk.
Forfatter: Silje U.
*************************************************************************/


/* Layout hiearkisk ********************************/
html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size:0.9em;
}

body {
	color: rgb(227, 17, 71);
	background-color: #000; /*#333; */
	font-family: lato;
	margin: 0 auto;
}

nav {
	background-color: rgb(214, 196, 196);
	height: 1.4em;
	padding: 0.2em 1em;
}

aside { /* Brukes bare ved presetasjoneditor */
	width: 14em; /* Tilpasset innhold i sidebar */
	background-color:#333;
	float: left;
	padding: 0.3em 0.5em;
	height: 100%;
}

main { /*Sentrert */
	/*height: 100%; blir kvitt unødvendig mellomrom over footer */
	margin: 0 auto;
	margin-bottom: 2em;  /* Tilsvarer footerens høyde */
	height: 100%;
}

section {
	padding: 0;
	margin: 0;
}

.blueDiv {
	width: 100%;
	background-color: darkblue;
	color: red;
}

.blackDiv {
	width: 100%;
	background-color: #000;
	color: red;
}

.textContainer {
	padding: 10px; 
	max-width: 32em; /* for å angi en leselig linjelengde */
	margin: 0 auto;
}

footer {
	width: 100%;
	background-color: white;
	height: 1.7em;
	padding: 0.6em 0;
	text-align: center;
	margin-bottom: 0px;
	position: absolute;
}

/* Non-layout elements  *************************************/

button {
	box-shadow: none;
	background-color: #ccc;
	/*appearance: none; */
	padding: 0.2em 1.2em;
	margin: 0.2em;
	font-size:0.8em;
	border-radius: 4px;
	border-style: none;
}

button:active {
	color: #fff;
	background-color: rgb(227, 17, 71);
	margin: 0.2em;
}

fieldset {
	border: none;
}

h1 {
	text-align: center;
}

hr {
	border: 0;
	border-top: 1px dotted #fff;
}

input, select {
	width: auto;
	margin: 0.4em;
	font-size:0.8em;
}

menuitem a {
	color: red; 
	padding: 0 0.2em;
	text-decoration: none;
}

menuitem a:visited {
	color: maroon;
}

.noLinkStyle {
	text-decoration: none;
	color: black;
}

p {
	margin: 0.6em 2px;
}





/* ***************************************************************************  */
/* IDs and classes
/* ***************************************************************************  */

#divContainer {
	margin-top: 10px;
	padding-top: 10px;
	margin: 0 auto;
}

.centered {
	text-align: center;
}

.content {
	position: absolute;  
	border-style: solid;
	overflow: hidden;
	text-align: center;
	padding: 10px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.logo {
	color: rgb(227, 17, 71);
	display: inline;
	font-size: 1.2em;
	font-weight: bold;
}

.right {
	float: right;
	padding: 0 2px;
}

ul.hidden {
	padding-left: 0;
}

ul.hidden li {
	list-style: none;
}

#editGrid {
	position: absolute;  
	background: white;
	border-style: dashed;
	top: 1.8em;
	left: 15em;
	/* original size
	width: 640px;
	height: 360px;*/
	width: 355px;
	height: 200px;
}

#presNotes {
	position: absolute;
	top: calc(200px + 2.6em);
	background: gray;
	left: 15em;
}

#presNotes h1 {
	color:  rgb(214, 196, 196);
	margin: 0.3em 0em;
}

textarea {
	border: none;
	width: 353px;
	height: 200px;
	background: rgb(214, 196, 196);
	padding: 0.4em;
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#slideView {
	position: absolute;
	right: 0;
	padding: 0.2em 2em;
	margin: 0 auto;
}

@media only screen and (min-width: 900px) {
	aside {
		width: 22em;
	}

	#editGrid {
		left: 23em;
		width: 800px;
		height: 450px;
	}

	#presNotes {
		top: calc(450px + 2.6em);
		left: 23em;
	}

	textarea {
		width: 802px;
		columns: 2 1em;
		box-sizing: border-box;
		padding: 0.6em 4em;
		font-size: 1.6em;
	}

	#slideView {
		position: absolute;
		right: 14em;
		padding: 0.2em 2em;
		margin: 0 auto;
	}
}