body {
	overflow: hidden;
}

#editGrid {
	position: absolute;
	margin: auto;
	left: 0; right: -5%;
	top: 0; bottom: 0;
	border-radius: 5px;
	border-style: dashed;
	border-width: thin;
	border-color: gray;
	background-color: white;
	box-shadow: 0 0 20px #e5e5e5;
}

#textToolBar {
	position: absolute;
	display: none;
	width: 445px;
	height: 0px;
}

#textToolBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEE;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#textToolBar ul li {
	padding: 0px;
	margin-top: 3px;
	float: left;
}

#textToolBar ul li * {
	display: inline-block;
	color: black;
	text-align: center;
	text-decoration: none;
}

#textToolBar ul li select, ul li input {
	background-color: #EEE;
	width: 40px;
	padding: 5.5px 0px;
}

#textToolBar ul li img {
	background-color: #EEE;
	height: 18px;
	padding: 6px 6px;
}

#textToolBar ul li span {
	padding: 6px 10px;
}

#textToolBar ul li *:hover {
	cursor: pointer;
	background-color: #888;
}

#colorPicker, #shadowPicker {
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 5px;
	background-color: lightgray;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#colorPicker [name = hue] {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo,violet);
}

#colorPicker [name = light] {
	background: linear-gradient(to right, black, white);
}

#colorPicker [name = alpha] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGUlEQVQYV2NkQID/ICYjNgGwDEwSpAJFAACKfwQDF+r+wwAAAABJRU5ErkJggg==), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}

#colorPicker div, #shadowPicker div {
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#colorPicker input, #shadowPicker input, #shadowPicker button {
	position: relative;
	width: 100%;
	top: 1px;
	right: 2px;
}

.content {
	position: absolute;
	overflow: hidden;
	text-align: center;
	word-wrap: break-word;
	padding: 10px;
	border: thin solid transparent;
	user-select: none;
	cursor: pointer;
}