* {
    margin: 0px;
    padding: 0px;
}

.side-bar {
	position: absolute;
	z-index: 1000;
	width: 150px;
	height: 100vh;
	overflow-y: scroll;
	background-color: #3d3d3d;
	font-family: Courier;
	font-size: 12px;
  text-align: center;
  cursor: default;
	box-shadow: 0 0 20px #202021;
}

.side-bar::-webkit-scrollbar {
	display: none; visibility: hidden;
}

.side-bar section div {
  display: table;
	margin: auto;
	color: #ccc;
	cursor: pointer;
	margin-top: 10px;
}
.side-bar section div span {
    display: table-cell;
    vertical-align: middle;
}

.side-bar text {
  font-family: Courier;
  font-size: 12px;
  text-align: center;
  cursor: default;
}

.side-bar [name=btn] {
	width: 90px; height: 65px;
}

.side-bar [name=btn]:hover {
	background-color: #494949;
    -webkit-transition: .2s;
    transition: background-color .2s;
}

.side-bar [name=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.side-bar [name=range]:hover {
    opacity: 1;
}

.side-bar [name=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #3d3d3d;
    cursor: pointer;
}

.side-bar [name=notes] {
  width: auto;
  height: 150px;
  margin-top: 10px;
  overflow: hidden;
  resize: vertical;
  background-color: #ccc;
  cursor: auto;
  text-align: left;
}

.side-bar main {
  width: 100%;
  margin: auto;
  padding: 10px 0;
  border-bottom: 1px solid #CCC;
}

.side-bar main input:first-child {
  display: none;
  visibility: hidden;
}

.side-bar main label {
  display: block;
  padding: 0.5em;
  border-bottom: 1px solid #CCC;
  color: #666;
}

.side-bar main label:hover {
  color: #aaa;
}

.side-bar main label::before {
  font-size: 15px;
  content: "+";
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

#expand_elements, #expand_background, #expand_tools, #expand_page, #expand_notes {
	height: 0;
	overflow: hidden;
	transition: height 0.5s ease;
}

#toggle_elements:checked ~ #expand_elements,
#toggle_background:checked ~ #expand_background,
#toggle_tools:checked ~ #expand_tools,
#toggle_page:checked ~ #expand_page,
#toggle_notes:checked ~ #expand_notes {
	height: auto;
}

#toggle_elements:checked ~ label::before,
#toggle_background:checked ~ label::before,
#toggle_tools:checked ~ label::before,
#toggle_page:checked ~ label::before,
#toggle_notes:checked ~ label::before {
  content: "-";
}

.page-nav {
  position: absolute;
  margin: auto;
  width: 250px;
  cursor: default;
  text-align: center;
  font-size: 35px;
  left: 0; right: -25%;
  top: 0;
}

.page-nav section div {
  display: inline-block;
  padding: 0 10px 0 10px;
  color: #999;
  cursor: pointer;
}