/******************************************************************

Stylesheet for editor.html

	Contents:
	- editGrid
	- Toolbars
	- Sidebar
	- Presentation notes
	- slideView
	- cssGrid

*******************************************************************/

/* editGrid */

#ratioContainer1 {
	width:100%;
	background: yellow;
}

#ratioContainer2 {
	width:100%;
	padding-bottom: 56.25%;  /* this gives a 16:9 div */
	background: orange;
	position: relative;
}


#editGrid { /* original size width: 640px; height: 360px;*/
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	background: white;
	color: black;
	border: 0.1em solid gray;
	margin: 0 auto;
	box-sizing: border-box;
}

/* OLD
#editGrid {
	margin: auto;
	left: 0; right: -25%;
	top: 0; bottom: 0;
	border-radius: 5px;
	border-style: dashed;
	border-width: thin;
	border-color: gray;
}
*/

/* trengs ikke? for å vise at editgrid er aktiv
#editGrid:active {
	border: 0.1em solid cyan;
}
*/

/* trengs denne? For å style currentpage-tekst. kanskje gi bakgrunn.
#currentPageTxt {
	font-size: 1rem;
}
*/




/* Toolbars */

#textToolBar {
	position: absolute;
	display: none;
	width: 445px;
	height: 0px;
}

#textToolBar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #EEE;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#textToolBar ul li {
	padding: 0px;
	margin-top: 3px;
	float: left;
}

#textToolBar ul li * {
	display: inline-block;
	color: black;
	text-align: center;
	text-decoration: none;
}

#textToolBar ul li select, ul li input {
	background-color: #EEE;
	width: 40px;
	padding: 5.5px 0px;
}

#textToolBar ul li img {
	background-color: #EEE;
	height: 18px;
	padding: 6px 6px;
}

#textToolBar ul li span {
	padding: 6px 10px;
}

#textToolBar ul li *:hover {
	cursor: pointer;
	background-color: #888;
}


#colorPicker, #shadowPicker {
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 5px;
	background-color: lightgray;
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#colorPicker [name = hue] {
	background: linear-gradient(to right, red, orange, yellow, green, blue, indigo,violet);
}

#colorPicker [name = light] {
	background: linear-gradient(to right, black, white);
}

#colorPicker [name = alpha] {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGUlEQVQYV2NkQID/ICYjNgGwDEwSpAJFAACKfwQDF+r+wwAAAABJRU5ErkJggg==), linear-gradient(to right, rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
}

#colorPicker div, #shadowPicker div {
	border-radius: 5px;
	border-style: solid;
	border-width: thin;
	border-color: gray;
}

#colorPicker input, #shadowPicker input, #shadowPicker button {
	position: relative;
	width: 100%;
	top: 1px;
	right: 2px;
}


/* Sidebar */



/* Presentation notes */

#notesSection {  /* var nesten finere uten */
	background: #000;
	margin: 0 auto;
	width: 100%;
	height: 10.3rem;
	max-width: 500px;
	vertical-align: middle;
	color:  white;
}

#notesSection h4 {
	margin: 0.3em 0em;
}

textarea {
	border: none;
	height: 100%;
	width: 100%;
	padding: 0.2rem 1rem;
	/* background: rgb(214, 196, 196); */
	font-size: 1.4rem;
	font-family: Verdana, Tahoma, sans-serif;
	box-sizing: border-box;
	border: thin solid gray; 
	overflow: auto;
}


/* OLD 
#notesTxt {
	width: 200px; 
	height: 50px; 
	resize: both;
}*/




/* slideView */

#slideView {
	padding: 0.2em 1em;
	font-size: 0.7em;
	box-sizing: border-box;
}


.content {
	position: absolute;
	overflow: hidden;
	text-align: center;
	word-wrap: break-word;
	padding: 10px;
	border: thin solid transparent;
	user-select: none;
	cursor: pointer;
}

/* gammel. trengs?
.content {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
*/



/* * * * * * * * * * * * * * * * * */
/* cssGrid * * * * * * * * * * * * */
/* Holy Grail Layout with CSS Grid */
/* ******* * * * * * * * * * * * * */

		
/* Define grid areas */
.hg-header { grid-area: header; }
/* .hg-footer { grid-area: footer; } */
.hg-main { grid-area: main; }
.hg-left { grid-area: sidebarLeft; }
.hg-right { grid-area: sidebarRight; }

.hg {
	display: grid;
	grid-template-areas: "header header header"
						"sidebarLeft main sidebarRight";
						/* "footer footer footer"; */
								
	grid-template-columns: 1fr 60% 1fr; 
	
	grid-template-rows: 2.3em    
						1fr;
						/* 2.2rem; */
								
	min-height: 100vh /* ellers trekker footeren seg opp. Eller for å fylle skjermen */
}


/* * * * * * * * * * * * * * * * * */
/* Custom css styles */

.hg-header, .hg-footer {
	display: flex;
	justify-content: center; /* aligner i midten av element*/
	align-items: center;    /*? aligner i høyden */
	text-align: center;   /* så sammen med justify-content*/
}

.hg-header,
.hg-left,
.hg-right,
.hg-main,
.hg-editgrid {
	margin:0; /* dette overstyrer alt som skulle stå i f. eks. lightStyle for foreldreelementer*/
}


/* til skjermer smalere enn 600px */
@media screen and (max-width: 600px) {
	.hg {
		grid-template-areas: "header"
							"sidebarLeft"
							"main"
							"sidebarRight"
							"footer";

		grid-template-columns: 100%;
		grid-template-rows: 2rem
							14rem 
							4fr
							1fr 
							2rem;
	}

	.flexContainer {
		display: flex;
		flex-wrap: wrap;
		flex-flow: row wrap;
		text-align: left;
		justify-content: center;  /*? aligner i miten av element*/
		padding: 0;
		margin: 0;
	}

	
	.flexBox {
		padding: 0;
		margin: 0;
		flex: 1;
	}
	
	.flexBox2 {
		padding: 0;
		margin: 0;
		flex: 1.6;
	}

	hr { display: none; }
	
	aside h1 {
		text-align: left;
		margin-top: 0.1rem;
		font-size: 1.0rem;
		display: none /* vet ikke omtrengs */
	}
	
	aside.hg-left {
		margin: 0;
		padding: 0.6rem 0.5rem;
}

}