/******************************************************************

Stylesheet for editor.html

	Contents:
/* Text contents */
/* Layout */
/* Smal skjerm */

*******************************************************************/


/* Text contents */

.coloredDiv1 {
	width: 100%;
	background-color: maroon;
	color: white;
}

.coloredDiv2 {
	width: 100%;
	background-color: olive;
	color: black;
}

.textContainer {
	padding: 10px; 
	max-width: 32em; /* for å angi en leselig linjelengde */
	margin: 0 auto;
}



/* Layout */
html, body, main {
	width: 100%;
}

header {
	width: 100%;
	height: 1.5em;
	display: inline;
	position: absolute;
}


main {
	padding-top: 2.4em;
	min-height: 92vh;
	
}


/* Smal skjerm */
/* maxwidth 400px*/