/******************************************************************
Common style elements for slyderweb

	Contents:
	/* Main layout elements */
	/* Header */
	/* Form elements */
	/* Text and related elements */
	/* Useful classes */
	/* Smal skjerm */
/*******************************************************************/


/* Main layout elements */

html {
	font-size: 62.5%;   /* for å angi fontstørrelse i rem som 1/10 pt-størrelse 1.2 rem = 12 pt */
}

html, body, section, main { margin: 0; padding: 0;}  /* resetting */

body {
	color: #000;
	background:white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVQoU2NkwA6kGBgYniFLMaKpQ1aAohhdIbr5cMUwhRhWoesAKSSoCKSGkNVwg4mxGmwjySbCrCA5eDA8CAAGVAslgCPX9wAAAABJRU5ErkJggg==) repeat;
	font-family: 'Lato', 'Verdana', sans-serif;
	font-size: 1.6rem; /* this sets the baseline size. Header sizes are then set by ems in browser*/
}

/* main {} */

aside {
	/* border-right:1px solid rgb(19, 17, 17); */
	color:  #ccc;
	background-color: #000;
	margin: 0.5rem 0.3rem;
}

aside>h1, h2, h3, h4, h5{
	margin: 0;
	padding: 0.5rem 0;
}




/* Header */

header {
	background-color: olive;
	box-shadow: 0px 1px 5px #999;
	padding: 0.4em 0;
	/* z-index:2;  om man ønsker headerskygge i editor.html */
}

nav {
	vertical-align: middle;
	display: inline;
}

header a {
	text-decoration: none;
	color: white;
	padding: 0.5em 0.3em;
	/* align-content: center; */
	display: inline;
}

header a:hover {
	background-color: #AA6;
	color: black;
	text-shadow: none;
}

.logo {
	/* margin:0; */
	padding: 0 0.5em;
	display: inline;
	font-size: 2.0rem;
	font-weight: bold;
	text-shadow: 0px 0px 8px black;
	font-family: Lucida Console, Courier, monospace;
}

logo a {color: white;}




/* Form elements */

button {
	color: #000;
	background-color: #ccc;
	padding: 0.4rem 1.0rem;
	margin: 0.2rem 0.07rem;
	font-size:0.9em;
	border-radius: 4px;
	border-style: none;
	box-shadow: 0 0 1px 1px gray;
}

button:hover {
	background-color: #f1f1da;
	cursor: pointer;
}

button:active {
	color: #fff;
	background-color: olive;
	margin: 0.2em;
}

button.dark {
	box-shadow: none;
	color: #fff;
	background-color: #555;
	font-size:1.2rem;
	border-radius: 4px;
	border-style: none;
}

button:hover.dark {
	color: #000;
	background-color: #ccc;
	cursor: pointer;
}

button:active.dark {
	color: #fff;
	background-color: rgb(227, 17, 71);
}

fieldset { border: none;}	
	
input, select {
	width: auto;
	margin: 0.4em;
	font-size:0.8em;
}


	
/* Text and related elements */

h1 { font-size: 1.8em;}

p { margin: 0.6em 2px;}

li, p, flexbox, div { font-size: 1.4rem;}

li { padding: 0.2rem;}

ul { margin: 0.2rem 0;}

hr { border: 0; border-top: 1px dotted #fff;}





/* Useful classes */

.centered { text-align: center;}

ul.hidden { padding-left: 0; list-style: none;}

.noLinkStyle { text-decoration: none; color: black;}



/* TODO Smal skjerm */