#profile-root {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.page {
  display: none;
}

.page.page-visible {
  display: block;
}

.menu-item {
  display: block;
  margin: 0;
  padding: 2px 5px;
  /*border: 1px solid black;*/
  color: #000;
  line-height: 2;
  text-decoration: none;
}

nav {
  margin: 0px 6px;
}

.menu-item.menu-item-current {
  color: #fff;
}

.page {
  margin: 0;
  padding: 2px 5px;
  /*border: 1px solid black;*/
}

/*
<i class="fa fa-address-book-o ic ic-50" aria-hidden="true"></i>
<i class="fa fa-address-book-o ic ic-100" aria-hidden="true"></i>
<i class="fa fa-address-book-o ic ic-200" aria-hidden="true"></i>
*/
.page input {
  display: block;
}


#profile-controls {
    position: absolute;
	z-index: 2000;
	width: 150px;
	height: 100vh;
	overflow-y: auto;
	background-color: olive;
	font-family: Courier;
	font-size: 12px;
    text-align: center;
    cursor: default;
	box-shadow: 1px 0px 5px #999;
    overflow: -moz-scrollbars-none;
}

hr {
    border-top: 1px solid #CCC;
}

.page.page-visible {
    width: 50%;
    margin: auto;
    text-align: center;
}

input {
    width: 100%;
    text-align: center;
}

.header-userprofile {
    background-color: transparent;
    margin-top: 10px;
}

.ic {
  display: inline-block;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}

/*
.ic-50 {
  width: 50px;
  height: 50px;
}

.ic-100 {
  width: 100px;
  height: 100px;
}

.ic-200 {
  width: 200px;
  height: 200px;
}
*/