<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
  	<title>Slyderweb</title>
  	<link rel="stylesheet" type="text/css" href="./css/editor_sidebar.css">
  	<link rel="stylesheet" type="text/css" href="./css/editor_grid.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div id="editGrid"></div>

	<div id="colorPicker">
		Hue
		<div name="hue">
			<input type="range" min="0" max="300" value="150">
		</div>
		Light
		<div name="light">
			<input type="range" min="0" max="100" value="50">
		</div>
		Alpha
		<div name="alpha">
			<input type="range" min="-0.1" max="1" step="0.01" value="1">
		</div>
		Saturation
		<div name="sat">
			<input type="range" min="0" max="100" value="50">
		</div>
	</div>

	<div id="shadowPicker">
		Position X
		<div name="cordX">
			<input type="range" min="-50" max="50" value="5">
		</div>
		Position Y
		<div name="cordY">
			<input type="range" min="-50" max="50" value="5">
		</div>
		Feather
		<div name="feather">
			<input type="range" min="0" max="20" value="5">
		</div>
		<br>
		<button id="removeShadowBtn">Remove</button>
	</div>

	<div id="textToolBar">
		<ul>
			<li id="toolbar_font" class="toolbar_dropdown">
				<select>
					<option value="Arial" style="font-family: 'Arial';">Arial</option>
					<option value="Courier" style="font-family: 'Courier';">Courier</option>
					<option value="Helvetica" style="font-family: 'Helvetica';">Helvetica</option>
					<option value="Times" style="font-family: 'Times';">Times</option>
					<option value="Verdana" style="font-family: 'Verdana';">Verdana</option>
				</select>
			</li>
			<li id="toolbar_fontSize">
				<select></select>
			</li>
			<li id="toolbar_bold">
				<span><b>B</b></span>
			</li>
			<li id="toolbar_italic">
				<span><i>I</i></span>
			</li>
			<li id="toolbar_underline">
				<span style="text-decoration: underline;">U</span>
			</li>
			<li id="toolbar_shadow">
				<span style="text-shadow: 2px 2px #bfbfbf;">S</span>
			</li>
			<li id="toolbar_txtColor">
				<span style="color: #ff8787">C</span>
			</li>
			<li id="toolbar_hiliteColor">
				<span><mark style="background-color: #ff8787">H</mark></span>
			</li>
			<li id="toolbar_bgColor">
				<img src="http://www.free-icons-download.net/images/background-color-icon-4552.png">
			</li>
			<li id="toolbar_bulletList">
				<img src="http://dryicons.com/uploads/icon/preview/7192/bulleted_list.png">
			</li>
			<li id="toolbar_numberList">
				<img src="http://dryicons.com/uploads/icon/preview/7221/numbered_list.png">
			</li>
			<li id="toolbar_alignLeft">
				<img src="http://downloadicons.net/sites/default/files/align-left-icon-4549.png">
			</li>
			<li id="toolbar_alignCenter">
				<img src="http://downloadicons.net/sites/default/files/align-justify-icon-4548.png">
			</li>
			<li id="toolbar_alignRight">
				<img src="http://downloadicons.net/sites/default/files/align-right-icon-4550.png">
			</li>
		</ul>
	</div>

	<div class="sideNav">
		<main>
		  <input id="toggle_page" type="checkbox">
		  <label for="toggle_page">Presentation</label>
		  <div id="expand_page">
		    <section>
				<div id="newTextBoxBtn">
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;"">library_add</t><br>
						<t>New</t>
					</span>
				</div>
				<div id="newTextBoxBtn">
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;"">play_arrow</t><br>
						<t>Start</t>
					</span>
				</div>
				<div id="newTextBoxBtn">
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;"">details</t><br>
						<t>Preview</t>
					</span>
				</div>
				<div id="newTextBoxBtn">
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;"">cloud_upload</t><br>
						<t>Save</t>
					</span>
				</div>
				<div id="newTextBoxBtn">
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;"">folder_shared</t><br>
						<t>My slides</t>
					</span>
				</div>
		    </section>
		  </div>
		</main>

		<main>
		  <input id="toggle_elements" type="checkbox">
		  <label for="toggle_elements">Add</label>
		  <div id="expand_elements">
		    <section>
				<div id="newTextBoxBtn">
					<span name="btn">
						<t style="font-size: 26px;font-family: Georgia;">T</t><br>
						<t>Textbox</t>
					</span>
				</div>
				<div>
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;">crop_original</t><br>
						<t>Image</t>
					</span>
				</div>
				<div>
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;">web_asset</t><br>
						<t>Iframe</t>
					</span>
				</div>
		    </section>
		  </div>
		</main>

		<main>
		  <input id="toggle_tools" type="checkbox">
		  <label for="toggle_tools">Tools</label>
		  <div id="expand_tools">
		    <section>
				<div>
					<span>
						<t>Scale</t>
						<input name="range" type="range" min="1" max="100" value="50">
					</span>
				</div>
				<div>
					<span>
						<t>Rotation</t>
						<input name="range" type="range" min="1" max="100" value="50">
					</span>
				</div>
				<div>
					<span>
						<t>Border</t>
						<input name="range" type="range" min="1" max="100" value="50">
					</span>
				</div>
		    </section>
		  </div>
		</main>

		<main>
		  <input id="toggle_background" type="checkbox">
		  <label for="toggle_background">Styles</label>
		  <div id="expand_background">
		    <section>
				<div>
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;">color_lens</t><br>
						<t>Background</t>
					</span>
				</div>
				<div>
					<span name="btn">
						<t class="material-icons" style="font-size: 26px;">art_track</t><br>
						<t>Templates</t>
					</span>
				</div>
		    </section>
		  </div>
		</main>
	</div>

		<button id="presmodeBtn">Presentation mode</button>
		<button id="newPresentationBtn">New presentation</button>
		<button id="savePageBtn">Save page</button>
		<button id="loadprevBtn">Prev page</button>
		<button id="loadnextBtn">Next page</button>
		<button id="newPageBtn">New page</button>
		<span id='currentPageTxt'>Current page:</span>
		<br><br>
	
		<button id="exportToFileBtn">Export presentation</button>
		<input id="presNameInput" type="text" placeholder="Name" style="width:100px">
		<select id="presListSelect" style="width: 100px"></select>
		<button id="loadPresBtn">Load presentation</button>
		<br><br>Notes:<br>
		<div id="notesTxt" contenteditable="true"></div>

	<script type="text/javascript" src="./js/util.js"></script>
	<script type="text/javascript" src="./js/editor.js"></script>
	<script type="text/javascript" src="./js/presmode.js"></script>
</body>

</html>