<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Slyderweb - Editor</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="stylesheet" type="text/css" href="./css/editor/sidebar.css">
	<link rel="stylesheet" type="text/css" href="./css/editor/editor.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
	<header class="centered colorScheme">
		<nav>
			<menuitem class="logo">
			<a href="/">SlyderWeb</a>
			</menuitem>
			<menuitem class="signInOut">
			<a href="livemode">Live mode</a>
			<a href="editor">Editor</a>
			<a id="hrfProfile" href="userprofile">Profile</a>
			<a id="openSignInModalbtn" style="cursor: pointer;">Sign in</a>
			<a id="hrfSignOut" href="user/logout">Sign out</a>
			</menuitem>
		</nav>
	</header>

	<!-- Sign in modal -->

	<div id="modal_signIn" class="login_modal">
		<div class="login_modal-content">
			<span class="close" id="cancel_btn_login">&times;</span>
			<fieldset>
				<h3 class="modal-header">Sign in</h3>
				<hr>
				<div class="modal-body centered">
					<input type="text" id="login_username" placeholder="Username">
					<br>
					<input type="password" id="login_password" placeholder="Password">
					<br>
					<div class="modal-footer">
						<button class="modal-btns" id="login_btn">Sign in</button>
						<button class="modal-btns" id="openCreateUserModalbtn">Sign up</button>
					</div>
				</div>
		</div>
	</div>


	<!-- Sign up modal -->

	<div id="modal_createUser" class="login_modal">
		<div class="login_modal-content">
			<span class="close" id="cancel_btn_createUser">&times;</span>
			<h3 class="modal-header">Create new user</h3>
			<hr>
			<div class="modal-body centered">
				<p class="neutralText">Username</p>
				<input type="text" id="createuser_username" placeholder="username">
				<p class="neutralText">Password:</p>
				<input type="password" id="createuser_password" placeholder="password">
				<p class="neutralText">First name:</p>
				<input type="text" id="createuser_firstname" placeholder="first name">
				<p class="neutralText">Last name:</p>
				<input type="text" id="createuser_lastname" placeholder="last name">
				<p class="neutralText">E-mail address:</p>
				<input type="text" id="createuser_mail" placeholder="email">
				<br>
				<div class="modal-footer">
					<button class="modal-btns" id="createuser_btn">Create user</button>
				</div>
			</div>
		</div>
	</div>

	<div id="editGrid" class="editGrid"></div>

	<div id="colorPicker">
		Hue
		<div name="hue">
			<input type="range" min="0" max="300" value="150">
		</div>
		Light
		<div name="light">
			<input type="range" min="0" max="100" value="50">
		</div>
		Alpha
		<div name="alpha">
			<input type="range" min="-0.1" max="1" step="0.01" value="1">
		</div>
		Saturation
		<div name="sat">
			<input type="range" min="0" max="100" value="50">
		</div>
	</div>

	<div id="shadowPicker">
		Position X
		<div name="cordX">
			<input type="range" min="-50" max="50" value="5">
		</div>
		Position Y
		<div name="cordY">
			<input type="range" min="-50" max="50" value="5">
		</div>
		Feather
		<div name="feather">
			<input type="range" min="0" max="20" value="5">
		</div>
		<br>
		<button id="removeShadowBtn">Remove</button>
	</div>

	<div id="textToolBar">
		<ul>
			<li id="toolbar_font" class="toolbar_dropdown">
				<select>
					<option value="Arial" style="font-family: 'Arial';">Arial</option>
					<option value="Courier" style="font-family: 'Courier';">Courier</option>
					<option value="Helvetica" style="font-family: 'Helvetica';">Helvetica</option>
					<option value="Times" style="font-family: 'Times';">Times</option>
					<option value="Verdana" style="font-family: 'Verdana';">Verdana</option>
				</select>
			</li>
			<li id="toolbar_fontSize">
				<select></select>
			</li>
			<li id="toolbar_bold">
				<span>
					<b>B</b>
				</span>
			</li>
			<li id="toolbar_italic">
				<span>
					<i>I</i>
				</span>
			</li>
			<li id="toolbar_underline">
				<span style="text-decoration: underline;">U</span>
			</li>
			<li id="toolbar_shadow">
				<span style="text-shadow: 2px 2px #bfbfbf;">S</span>
			</li>
			<li id="toolbar_txtColor">
				<span style="color: #ff8787">C</span>
			</li>
			<li id="toolbar_hiliteColor">
				<span>
					<mark style="background-color: #ff8787">H</mark>
				</span>
			</li>
			<li id="toolbar_bgColor">
				<img src="http://www.free-icons-download.net/images/background-color-icon-4552.png">
			</li>
			<li id="toolbar_bulletList">
				<img src="http://dryicons.com/uploads/icon/preview/7192/bulleted_list.png">
			</li>
			<li id="toolbar_numberList">
				<img src="http://dryicons.com/uploads/icon/preview/7221/numbered_list.png">
			</li>
			<li id="toolbar_alignLeft">
				<img src="http://downloadicons.net/sites/default/files/align-left-icon-4549.png">
			</li>
			<li id="toolbar_alignCenter">
				<img src="http://downloadicons.net/sites/default/files/align-justify-icon-4548.png">
			</li>
			<li id="toolbar_alignRight">
				<img src="http://downloadicons.net/sites/default/files/align-right-icon-4550.png">
			</li>
		</ul>
	</div>

	<div class="side-bar noselect">
		<main>
			<input id="toggle_page" type="checkbox">
			<label for="toggle_page">Slyde</label>
			<div id="expand_page">
				<section>
					<div>
						<text>Title</text>
						<input id="presNameInput" name="notes" placeholder="My slyde" style="width: 95%; height: 20px; font-family: Courier; text-align: center; margin-top: 0; margin-left: 2px;">
					</div>
					<div id="newPresentationBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">library_add</t>
							<br>
							<t>New</t>
						</span>
					</div>
					<div id="presmodeBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">play_arrow</t>
							<br>
							<t>Start</t>
						</span>
					</div>
					<div id="previewmodeBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">details</t>
							<br>
							<t>Preview</t>
						</span>
					</div>
					<div id="savePageBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">cloud_upload</t>
							<br>
							<t>Save</t>
						</span>
					</div>
					<div id="mySlydesBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">folder_shared</t>
							<br>
							<t>My slydes</t>
						</span>
					</div>
					<div id="exportToFileBtn">
						<span name="btn">
							<t class="material-icons " style="font-size: 26px;">archive</t>
							<br>
							<t>Export</t>
						</span>
					</div>
					<div id="importBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">unarchive</t>
							<br>
							<t>Import</t>
						</span>
					</div>
					<div id="deletePresBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">delete</t>
							<br>
							<t>Delete</t>
						</span>
					</div>
				</section>
			</div>
		</main>

		<main>
			<input id="toggle_elements" type="checkbox">
			<label for="toggle_elements">Add</label>
			<div id="expand_elements">
				<section>
					<div id="newTextBoxBtn">
						<span name="btn">
							<t style="font-size: 26px;font-family: Georgia;">T</t>
							<br>
							<t>Textbox</t>
						</span>
					</div>
					<div id="addImageBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">crop_original</t>
							<br>
							<t>Image</t>
						</span>
					</div>
					<div id="addIframeBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">web_asset</t>
							<br>
							<t>Iframe</t>
						</span>
					</div>
				</section>
			</div>
		</main>

		<main>
			<input id="toggle_tools" type="checkbox">
			<label for="toggle_tools">Tools</label>
			<div id="expand_tools">
				<section>
					<div>
						<span>
							<t>Scale</t>
							<input id="scaleRange" name="range" type="range" min="0" max="10" value="1" step="0.1">
						</span>
					</div>
					<div>
						<span>
							<t>Rotation</t>
							<input id="rotationRange" name="range" type="range" min="0" max="360" value="0">
						</span>
					</div>
					<div>
						<span>
							<t>Border</t>
							<input id="borderRange" name="range" type="range" min="0" max="100" value="0">
						</span>
					</div>
					<div>
						<span>
							<t>Layer</t>
						</span>
					</div>
					<div>
						<span id="layerDownBtn" name="btn">
							<t class="material-icons" style="font-size: 26px;">keyboard_arrow_down</t>
							<br>
						</span>
						<span id="layerUpBtn" name="btn">
							<t class="material-icons" style="font-size: 26px;">keyboard_arrow_up</t>
							<br>
						</span>
					</div>
				</section>
			</div>
		</main>

		<main>
			<input id="toggle_background" type="checkbox">
			<label for="toggle_background">Styles</label>
			<div id="expand_background">
				<section>
					<div id="changeBgBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">color_lens</t>
							<br>
							<t>Background</t>
						</span>
					</div>
					<div id="templatesBtn">
						<span name="btn">
							<t class="material-icons" style="font-size: 26px;">art_track</t>
							<br>
							<t>Templates</t>
						</span>
					</div>
				</section>
			</div>
		</main>

		<main>
			<input id="toggle_notes" type="checkbox">
			<label for="toggle_notes">Notes</label>
			<div id="expand_notes">
				<div>
					<div id="notesTxt" name="notes" contenteditable="true"></div>
				</div>
			</div>
		</main>
	</div>

	<div id="pageNav" class="page-nav noselect">
		<section>
			<div id="loadprevBtn">
				<span>
					<t class="material-icons">keyboard_arrow_left</t>
				</span>
			</div>
			<div>
				<span>
					<t id="currentPageTxt"></t>
				</span>
			</div>
			<div id="loadnextBtn">
				<span>
					<t class="material-icons">keyboard_arrow_right</t>
				</span>
			</div>
			<div id="newPageBtn">
				<span>
					<t class="material-icons">add</t>
				</span>
			</div>
			<div id="deletePageBtn">
				<span>
					<t class="material-icons">remove</t>
				</span>
			</div>
		</section>
	</div>

	<div id="mySlydesModal" class="modal">
		<div class="modal-content noselect" style="width: 30%; min-width: 50px;">
			<div class="material-icons" style="font-size: 35px; cursor: default; color: #3d3d3d">folder_shared</div>
			<hr>
			<div id="mySlydesContainer">
				<div id="mySlydesContent"></div>
			</div>
		</div>
	</div>

	<div id="templatesModal" class="modal">
		<div class="modal-content noselect" style="width: 30%; min-width: 50px;">
			<div class="material-icons" style="font-size: 35px; cursor: default; color: #3d3d3d">art_track</div>
			<hr>
			<div class="mySlydesContainer">
				<div id="arrangeSection">
					<h4>Arrange</h4>
					<img name="template_arrange_1" class="templatesImg" src="./img/template_arrange_1.PNG">
					<img name="template_arrange_2" class="templatesImg" src="./img/template_arrange_2.PNG">
					<img name="template_arrange_3" class="templatesImg" src="./img/template_arrange_3.PNG">
					<img name="template_arrange_4" class="templatesImg" src="./img/template_arrange_4.PNG">
				</div>
				<div id="backgroundSection">
					<h4>Backgrounds</h4>
					<img name="template_background_1" class="templatesImg" src="./img/template_background_1.PNG">
					<img name="template_background_2" class="templatesImg" src="./img/template_background_2.PNG">
					<img name="template_background_3" class="templatesImg" src="./img/template_background_3.PNG">
					<img name="template_background_4" class="templatesImg" src="./img/template_background_4.PNG">
				</div>
			</div>
		</div>
	</div>

	<div id="addImagePanel" class="side-bar noselect img-bar">
		<div id="addImgFromLinkBtn">
			<span name="btn">
				<t>Link</t>
			</span>
		</div>
		<div id="addImgFromLocalBtn">
			<span name="btn">
				<t>Local</t>
			</span>
		</div>
	</div>

	<div id="colorBgPanel" class="side-bar noselect bg-bar">
		<section>
			<div>
				<span>
					<t>Color</t>
					<div class="bg-colors" id="bgColorDiv"></div>
				</span>
			</div>
			<div>
				<span>
					<t>Rotation</t>
					<input id="gradRotationRange" name="range" type="range" min="-180" max="180" value="0">
				</span>
			</div>
			<div style="margin-top: 15px; margin-bottom: -15px">
				<span>
					<t>Gradients</t>
				</span>
			</div>
			<div id="gradientListDiv"></div>
			<div>
				<span>
					<t id="addGradientBtn" class="material-icons">add</t>
					<t id="removeGradientBtn" class="material-icons">remove</t>
				</span>
			</div>
		</section>
	</div>
</body>

<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/editor/init.js"></script>
<script type="text/javascript" src="./js/editor/btnevents.js"></script>
<script type="text/javascript" src="./js/editor/domevents.js"></script>
<script type="text/javascript" src="./js/editor/presmode.js"></script>
<script type="text/javascript" src="./js/editor/templates.js"></script>
<script type="text/javascript" src="./js/editor/load.js"></script>

</html>