<!DOCTYPE html>
<html lang="no">

<head>
	<meta chartset="utf-8" />
	<title>Slyderweb - home</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
	<header class="centered colorScheme">
		<nav>
			<a href="/" class="logo">SlyderWeb</a>
			</menuitem>
			<menuitem>
			<a href="userprofile#presentations">Presentations</a>
			</menuitem>
			<menuitem>
			<a href="/editor">Editor</a>
			</menuitem>
			<menuitem>
			<a href="userprofile">Profile</a>
			</menuitem>
			<menuitem>
			<a href="/help">Help</a>
			</menuitem>
			<menuitem>
			<a href="/about">About</a>
			</menuitem>
			<menuitem>
			<a href="/login">Login</a>
			</menuitem>
			<menuitem>
			<a href="/signup">Sign up</a>
			</menuitem>
		</nav>
	</header>

	<main>
		<div class="colored3">
			<section class="textContainer">
				<h1>Header 1</h1>
				<h2>Header 2</h2>
				<h3>Header 3</h3>
				<h4>Header 4</h4>
				<h5>Header 5</h5>
				<p>
					What is slyderWeb? You tell me?
				</p>
			</section>
		</div>
		<section class="textContainer">
			<p>
				What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is
				slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb?
			</p>
		</section>
	</main>
</body>
<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>

</html>