<!DOCTYPE html>
<html lang="no">

<head>
	<meta chartset="utf-8" />
	<title>Slyderweb - home</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
		<header class="centered">
			<nav>
				<menuitem class="logo">
				<a href="/">SlyderWeb</a>
				</menuitem>
				<a href="">Sign in/out</a>
				</menuitem>
				<menuitem>
					<a href="userprofile#presentations">Presentations</a>
				</menuitem>
				<menuitem>
				<a href="/editor">Editor</a>
				</menuitem>
				<menuitem>
				<a href="userprofile">Settings</a>
				</menuitem>
				<menuitem>
				<menuitem>
				<a href="/help">Help</a>
				</menuitem>
				<a href="/about">About</a>
				</menuitem>
			</nav>
		</header>

	<main>
		<section class="centered">
			<section class="textContainer">
				<p>
					This would be your start page, displaying a list of presentations.
				</p>
			</section>
			<hr>
			<fieldset>
				<h3>User details</h3>
				<input type="text" id="userinfo_input" placeholder="Username">
				<button id="userinfo_btn">Find user</button>
			</fieldset>
			<hr>
		</section>
		</main>
</body>
<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>

</html>