<!DOCTYPE html>
<html lang="no">

<head>
	<meta chartset="utf-8" />
	<title>Slyderweb - home</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
		<header class="centered">
			<nav>
				<menuitem class="logo">
				<a href="/">SlyderWeb</a>
				</menuitem>
				<menuitem class="signInOut">
				<a id="hrfSignIn" href="/">Sign in</a>
				<a id="hrfSignOut" href="user/logout">Sign out</a>
				</menuitem>
				<menuitem>
					<a href="userprofile#presentations">Presentations</a>
				</menuitem>
				<menuitem>
				<a href="/editor">Editor</a>
				</menuitem>
				<menuitem>
				<a href="userprofile">Settings</a>
				</menuitem>
				<menuitem>
				<menuitem>
				<a href="/help">Help</a>
				</menuitem>
				<a href="/about">About</a>
				</menuitem>
			</nav>
		</header>

	<main>
		<section class="centered">
			<fieldset>
				<h3>Sign in</h3>
				<input type="text" id="login_username" placeholder="Username">
				<br>
				<input type="text" id="login_password" placeholder="Password">
				<br>
				<button id="login_btn">Sign in</button>
			</fieldset>
			<hr>
			<fieldset>
				<h3>Create new user</h3>
				Username:
				<input type="text" id="createuser_username">
				<br> Password:
				<input type="text" id="createuser_password">
				<br> First name:
				<input type="text" id="createuser_firstname">
				<br> Last name:
				<input type="text" id="createuser_lastname">
				<br> e-mail address:
				<input type="text" id="createuser_mail">
				<br>
				<button id="createuser_btn">Create user</button>
			</fieldset>
			<hr>
			<fieldset>
				<h3>User details</h3>
				<input type="text" id="userinfo_input" placeholder="Username">
				<button id="userinfo_btn">Find user</button>
			</fieldset>
			<hr>
		</section>
		<div class="colored3">
				<section class="textContainer">
					<h1>Header 1</h1>
					<h2>Header 2</h2>
					<h3>Header 3</h3>
					<h4>Header 4</h4>
					<h5>Header 5</h5>
					<p>
						What is slyderWeb? You tell me?
					</p>
				</section>
			</div>
			<section class="textContainer">
				<p>
					What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is
					slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb? What is slyderWeb?
				</p>
			</section>
		</main>
</body>
<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>

</html>