<!DOCTYPE html>
<html lang="no">

<head>
	<meta chartset="utf-8" />
	<title>Slyderweb</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
	<header class="centered colorScheme">
		<nav>
			<menuitem class="logo">
			<a href="/">SlyderWeb</a>
			</menuitem>
			<menuitem class="signInOut">
			<a href="livemode">Live mode</a>
			<a href="editor">Editor</a>
			<a id="hrfProfile" href="userprofile">Profile</a>
			<a id="openSignInModalbtn" style="cursor: pointer;">Sign in</a>
			<a id="hrfSignOut" href="user/logout">Sign out</a>
			</menuitem>
		</nav>
	</header>

	<main>
		<section class="textContainer">
			<h1 style="text-align: center">Slyderweb - a presentation tool in your browser</h1>
			<img src="./img/intro.gif" style="width: 400px; height: auto; margin-left: 18.5%">
			<h2 style="text-align: center">Make presentations online - with ease!</h2>
			<button style="margin-left: 44%">
				<a class="noLinkStyle" href="/editor">Try now</a>
			</button>
		</section>
		</div>
		<div class="colored3">
			<section class="textContainer">
				<h2 style="margin-left: 15%">Features</h2>
				<ul style="margin-left: 15%">
					<li>Create presentations now - no sign up required!</li>
					<li>Export and import presentation files</li>
					<li>Log in and load your presentation anywhere</li>
					<li>Read slyde notes and information with live mode</li>
					<li>Pick from our selection of themes</li>
					<li>Or dynamically create anything you'd like</li>
				</ul>
			</section>
		</div>
	</main>

	<!-- Sign in modal -->

	<div id="modal_signIn" class="login_modal">
		<div class="login_modal-content">
			<span class="close" id="cancel_btn_login">&times;</span>
			<fieldset>
				<h3 class="modal-header">Sign in</h3>
				<hr>
				<div class="modal-body centered">
					<input type="text" id="login_username" placeholder="Username">
					<br>
					<input type="password" id="login_password" placeholder="Password">
					<br>
					<div class="modal-footer">
						<button class="modal-btns" id="login_btn">Sign in</button>
						<button class="modal-btns" id="openCreateUserModalbtn">Sign up</button>
					</div>
				</div>
		</div>
	</div>


	<!-- Sign up modal -->

	<div id="modal_createUser" class="login_modal">
		<div class="login_modal-content">
			<span class="close" id="cancel_btn_createUser">&times;</span>
			<h3 class="modal-header">Create new user</h3>
			<hr>
			<div class="modal-body centered">
				<p class="neutralText">Username</p>
				<input type="text" id="createuser_username" placeholder="username">
				<p class="neutralText">Password:</p>
				<input type="password" id="createuser_password" placeholder="password">
				<p class="neutralText">First name:</p>
				<input type="text" id="createuser_firstname" placeholder="first name">
				<p class="neutralText">Last name:</p>
				<input type="text" id="createuser_lastname" placeholder="last name">
				<p class="neutralText">E-mail address:</p>
				<input type="text" id="createuser_mail" placeholder="email">
				<br>
				<div class="modal-footer">
					<button class="modal-btns" id="createuser_btn">Create user</button>
				</div>
			</div>
		</div>
	</div>


</body>

<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>
<script type="text/javascript" src="./js/main.js"></script>

</html>