<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<title>Slyderweb - Live mode</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css">
	<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
	<style type="text/css">
		#notesContainer * {
			font-family: monospace;
			font-size: 35px;
		}
	</style>
</head>

<body>
	<header class="centered colorScheme">
		<nav>
			<menuitem class="logo">
			<a href="/">SlyderWeb</a>
			</menuitem>
			<menuitem class="signInOut">
			<a href="livemode">Live mode</a>
			<a href="editor">Editor</a>
			<a id="hrfProfile" href="userprofile">Profile</a>
			<a id="openSignInModalbtn" style="cursor: pointer;">Sign in</a>
			<a id="hrfSignOut" href="user/logout">Sign out</a>
			</menuitem>
		</nav>
	</header>
	<div id="modal_signIn" class="login_modal">
		<div class="login_modal-content">
			<span class="close" id="cancel_btn_login">&times;</span>
			<fieldset>
				<h3 class="modal-header">Sign in</h3>
				<hr>
				<div class="modal-body centered">
					<input type="text" id="login_username" placeholder="Username">
					<br>
					<input type="password" id="login_password" placeholder="Password">
					<br>
					<div class="modal-footer">
						<button class="modal-btns" id="login_btn">Sign in</button>
						<button class="modal-btns" id="openCreateUserModalbtn">Sign up</button>
					</div>
				</div>
		</div>
	</div>
	<div id="modal_createUser" class="login_modal">
		<div class="login_modal-content">
			<span class="close" id="cancel_btn_createUser">&times;</span>
			<h3 class="modal-header">Create new user</h3>
			<hr>
			<div class="modal-body centered">
				<p class="neutralText">Username</p>
				<input type="text" id="createuser_username" placeholder="username">
				<p class="neutralText">Password:</p>
				<input type="password" id="createuser_password" placeholder="password">
				<p class="neutralText">First name:</p>
				<input type="text" id="createuser_firstname" placeholder="first name">
				<p class="neutralText">Last name:</p>
				<input type="text" id="createuser_lastname" placeholder="last name">
				<p class="neutralText">E-mail address:</p>
				<input type="text" id="createuser_mail" placeholder="email">
				<br>
				<div class="modal-footer">
					<button class="modal-btns" id="createuser_btn">Create user</button>
				</div>
			</div>
		</div>
	</div>

	<h1 id="statusTitle" style="margin-left: 50px;">
		<h1>
			<div id="livemodeContainer" style="margin-left: 50px;">
				<p id="currentPageText">
					<p>
						<p style="font-size: 25px;">Notes:</p>
						<span id="notesContainer">
							<div id="notesText" style="width: 90vw; height: auto; border: thin solid black; background-color: white; font-size: 35px;"></div>
						</span>
			</div>
</body>
<script src="./js/util.js"></script>
<script src="./js/main.js"></script>
<script src="./js/livemode/livemode.js"></script>

</html>