<!DOCTYPE html>
<html lang="no">

<head>
	<meta chartset="utf-8" />
	<title>Slyderweb - log in</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
	<header class="centered colorScheme">
		<nav>
			<menuitem class="logo">
			<a href="/">SlyderWeb</a>
			</menuitem>
			<menuitem class="signInOut">
			<a id="hrfSignIn" href="login">Sign in</a>
			<a id="hrfSignOut" href="user/logout">Sign out</a>
			</menuitem>
			<menuitem>
			<a href="userprofile#presentations">Presentations</a>
			</menuitem>
			<menuitem>
			<a href="/editor">Editor</a>
			</menuitem>
			<menuitem>
			<a href="userprofile">Profile</a>
			</menuitem>
			<menuitem>
			<menuitem>
			<a href="/help">Help</a>
			</menuitem>
			<a href="/about">About</a>
			</menuitem>
			<a href="/signup">Sign up</a>
			</menuitem>
		</nav>
	</header>

	<main>
		<section class="centered">
			<fieldset>
				<h3>Sign in</h3>
				<input type="text" id="login_username" placeholder="Username">
				<br>
				<input type="text" id="login_password" placeholder="Password">
				<br>
				<button id="login_btn">Sign in</button>
			</fieldset>
		</section>
	</main>
</body>
<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>

</html>