<!DOCTYPE html>
<html lang="no">

<head>
	<meta chartset="utf-8" />
	<title>Slyderweb - home</title>
	<link rel="stylesheet" type="text/css" href="./css/main.css" />
	<link rel="stylesheet" type="text/css" href="./css/index.css" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />
</head>

<body>
	<header class="centered colorScheme">
		<nav>
			<menuitem class="logo">
			<a href="/">SlyderWeb</a>
			</menuitem>
			<a href="/login">Login</a>
			</menuitem>
			<a href="/signup">Sign up</a>
			</menuitem>
			<menuitem>
			<a href="userprofile#presentations">Presentations</a>
			</menuitem>
			<menuitem>
			<a href="/editor">Editor</a>
			</menuitem>
			<menuitem>
			<a href="userprofile">Profile</a>
			</menuitem>
			<menuitem>
			<menuitem>
			<a href="/help">Help</a>
			</menuitem>
			<a href="/about">About</a>
			</menuitem>
		</nav>
	</header>

	<main>
		<section class="centered">
			<button id="modal_createUser_btn">Create user-modal</button>
							
			<div id="modal_createUser" class="modal">
					<div class="modal-content">
						<span class="close">&times;</span>
								<h3 class="modal-content">Create new user</h3>
								Username:
								<input type="text" id="createuser_username">
								<br> Password:
								<input type="text" id="createuser_password">
								<br> First name:
								<input type="text" id="createuser_firstname">
								<br> Last name:
								<input type="text" id="createuser_lastname">
								<br> e-mail address:
								<input type="text" id="createuser_mail">
								<br>
								<button id="createuser_btn">Create user</button>
					</div>
				</div>

			<fieldset>
				<h3>Create new user</h3>
				Username:
				<input type="text" id="createuser_username">
				<br> Password:
				<input type="text" id="createuser_password">
				<br> First name:
				<input type="text" id="createuser_firstname">
				<br> Last name:
				<input type="text" id="createuser_lastname">
				<br> e-mail address:
				<input type="text" id="createuser_mail">
				<br>
				<button id="createuser_btn">Create user</button>
			</fieldset>
		</section>
	</main>
</body>
<script>
	// Get the modal
let modal = document.getElementById('modal_createUser');

// Get the button that opens the modal
let btn = document.getElementById("modal_createUser_btn");

// Get the <span> element that closes the modal
let span = document.getElementsByClassName("close")[0];

// When the user clicks on the button, open the modal 

btn.onclick = function() {
    modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
    modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>


<script type="text/javascript" src="./js/util.js"></script>
<script type="text/javascript" src="./js/main.js"></script>
<script type="text/javascript" src="./js/sha1.min.js"></script>

</html>