<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Userprofile</title>
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="./css/main.css" rel="stylesheet">
	<link href="./css/userprofile.css" rel="stylesheet">
	
</head>
<body>

  <header class="centered colorScheme">
    <nav>
      <menuitem class="logo">
      <a href="/">SlyderWeb</a>
      </menuitem>
      <menuitem class="signInOut">
      <a href="livemode">Live mode</a>
      <a href="editor">Editor</a>
      <a id="hrfProfile" href="userprofile">Profile</a>
      <a id="openSignInModalbtn" style="cursor: pointer;">Sign in</a>
      <a id="hrfSignOut" href="user/logout">Sign out</a>
      </menuitem>
    </nav>
  </header>

  <!-- Sign in modal -->

  <div id="modal_signIn" class="login_modal">
    <div class="login_modal-content">
      <span class="close" id="cancel_btn_login">&times;</span>
      <fieldset>
        <h3 class="modal-header">Sign in</h3>
        <hr>
        <div class="modal-body centered">
          <input type="text" id="login_username" placeholder="Username">
          <br>
          <input type="password" id="login_password" placeholder="Password">
          <br>
          <button class="modal-btns" id="login_btn">Sign in</button>
          <button class="modal-btns" id="openCreateUserModalbtn">Sign up</button>
        </div>
    </div>
  </div>


  <!-- Sign up modal -->

  <div id="modal_createUser" class="login_modal">
    <div class="login_modal-content">
      <span class="close" id="cancel_btn_createUser">&times;</span>
      <h3 class="modal-header">Create new user</h3>
      <hr>
      <div class="modal-body centered">
        <p class="neutralText">Username</p>
        <input type="text" id="createuser_username" placeholder="username">
        <p class="neutralText">Password:</p>
        <input type="password" id="createuser_password" placeholder="password">
        <p class="neutralText">First name:</p>
        <input type="text" id="createuser_firstname" placeholder="first name">
        <p class="neutralText">Last name:</p>
        <input type="text" id="createuser_lastname" placeholder="last name">
        <p class="neutralText">E-mail address:</p>
        <input type="text" id="createuser_mail" placeholder="email">
        <br>
        <button class="modal-btns" id="createuser_btn">Create user</button>
      </div>
    </div>
  </div>
    
  <main id="profile-root">
  
    <section id="profile-controls">
      <div><!-- <img src="https://lorempixel.com/200/200/people/1" alt=""> --></div>
  		<nav>
        <a href="#slides"  class="menu-item">Presentations</a>
        <hr>
        <hr>
        <a href="#setting" class="menu-item">Setting</a>
        <hr>
        <hr>
  		</nav>
    </section>
  
    <section id="page-slides" class="page">
      <div class="header-userprofile"><h1>Slides</h1></div>
      <div id="page-slides-root"><!-- CONTENT -->
      </div><!-- CONTENT - END -->
    </section>
  
    <section id="page-setting" class="page">
      <div class="header-userprofile"><h1>Settings</h1></div>
      <div class="page-settings-root"><!-- CONTENT -->
        <form>
          <label> Change first name
          <input id="firstname" type="text" /></label>
          <label> Change last name:
          <input id="lastname"  type="text" /></label>
          <label> Username:
          <input id="username"  type="text"  disabled /></label>
          <label> Email:
          <input id="email"     type="email" disabled /></label>
  
          <!-- TODO: Gamle profilbilde skal være synlig -->
          <img src="" alt="">
          <label> Change image:
          <input id="image"     type="url" /></label>
  
          <!-- TODO: Gamle profilbilde skal være synlig -->
          <!--<img src="" alt="">
          <label> Change image:
          <input id="image"     type="file" /></label>-->
  
          <button id="saveChanges" type="button">Save changes</button>
        </form>
        <hr>
        <form>
          <label> Type in old password:
          <input id="password_old" type="password" /></label>
          <label> Type in new password:
          <input id="password_new" type="password" /></label>
          <label> Repeat new password:
          <input id="password_new_repeat" type="password" /></label>
          <button id="save_password" type="button">Save changes</button>
        </form>
        <hr>
        <button id="btnDelete" type="button">Delete profile</button>
      </div><!-- CONTENT - END -->
    </section>
  
  </main>

<script src="./js/util.js"></script>
<script src="./js/main.js"></script>
<script src="./js/userprofile/slides.js"></script>
<script src="./js/userprofile/setting.js"></script>
<script src="./js/userprofile/userprofile.js"></script>
</body>
</html>